@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--main-bgcolor: #ffffff;	
	--main-textcolor: #000;
	--third-bgcolor: #ede7e1;
	--accent-color: #db7254;	
	--second: #fff;	
	--form-color: #e9dcd0;	
	--input-form-color: #f9f7f6;	
	--footer-bgcolor: #291b12;	
	--footer-textcolor: #7d7d7d;
	--border-color: #8c8c8c;
	--transparent-text-color: #757575;
	--specific-color: #f2e9e1;
	--transit: 0.25s;
	--form-trans: top 0.1s ease-in-out, scale 0.1s ease-in-out;
	--function: cubic-bezier(0.4, 0, 0.2, 1);
	--b-radius: 8px;
	--deep-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	--box-shadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	--box-shadow2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', Arial, sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

ul {
    list-style: none;
}

html {
	scroll-behavior: smooth;
}

/* //ANIM  */

.anim-show {
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.anim-show.active,
.active .anim-show {
    transform: translate(0, 0);
    opacity: 1;
}

header {
    width: 100%;
    background-color: var(--main-textcolor);
}

.menu {
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo svg {
    fill: var(--accent-color);
    width: 80px;
}

.logo img {
    height: 32px;    
}

.menu-list {
    display: none;
    gap: 20px;
    padding-right: 60px;
}

/* //BURGER  */

.menu-item {

}

.menu-link {
    color: var(--main-bgcolor);
    text-decoration: none;
}

.menucheck {
    display: none;
}

.menu-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.menu-btn::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    box-shadow: 0 10px var(--accent-color);
    background-color: var(--accent-color);
    transform: translateY(-10px);
    transition: var(--transit);
}

.menu-btn::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    transform: translateY(10px);
    background-color: var(--accent-color);
    transition: var(--transit);
}

.burger-list {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    transition: var(--transit);
    background-color: var(--main-textcolor);
    gap: 0;
    padding-top: 0;
    z-index: 99;
}

.menucheck:checked ~ .burger-list {
    opacity: 1;
    height: 100vh;
    gap: 20px;
    padding-top: 40px;
}

.menucheck:checked ~ .menu-btn::before {
    transform: translateY(0) rotate(45deg);
    box-shadow: 0 0 transparent;
}

.menucheck:checked ~ .menu-btn::after {
    transform: translateY(0) rotate(-45deg);
}

.burger-item {

}

.burger-link {
    text-decoration: none;
    color: var(--main-bgcolor);
}

/* //HERO  */

.hero {
    height: calc(100vh - 60px);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../img/hero.jpg);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    color: var(--main-bgcolor);
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
    gap: 60px;
}

.hero-head {
    font-size: 2.6em;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.hero-head.active {
    transform: translate(0, 0);
    opacity: 1;
}

.hero-consult {
    font-size: 1.2em;
}

.hero-route {
    letter-spacing: 0.125em;
    font-size: 1.2em;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.6s ease 0.2s;
}

.hero-route.active {
    transform: translate(0, 0);
    opacity: 1;
}

.hero-head, .hero-consult, .hero-route {
    margin-left: 20px;
}

.hero-consult {
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.6s ease 0.4s;
}

.hero-consult.active {
    transform: translate(0, 0);
    opacity: 1;
}

.hero-social {
    text-decoration: underline;
    color: var(--main-bgcolor);
}

.hero-cont-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.6s ease 0.6s;
}

.hero-cont-btn.active {
    transform: translate(0, 0);
    opacity: 1;
}

.hero-btn {
    text-decoration: none;
    padding: 16px 34px;
    background-color: var(--accent-color);
    border-radius: var(--b-radius);
    display: inline-block;
    font-size: 1.1em;
    color: var(--main-bgcolor);
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: var(--transit);
}

.hero-btn:hover, .hero-btn:focus {
    color: var(--accent-color);
    background-color: var(--main-bgcolor);
    border: 1px solid var(--accent-color);
}

/* //ABOUTUS  */

.aboutus {
    background-color: var(--main-bgcolor);
}

.aboutus-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-wrap-text {
    width: 100%;
    overflow: hidden;
}

.about-text {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.6em;
}

.aboutus-img {
    width: 100%;
    overflow: hidden;
}

.aboutus-img img {
    width: 100%;
    border-radius: var(--b-radius);
}

/* //.route  */ 

.route {
    background-color: var(--main-textcolor);
    color: var(--main-bgcolor);
}

.route-wrap {
    max-width: 1200px;
    padding: 60px 10px;
    margin: 0 auto;
    overflow: hidden;
}

.route-list {
    padding-left: 40px;
}

.route-wrap h3 {
    text-transform: uppercase;
    color: var(--main-bgcolor);
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.route-item {
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateX(120%);
    transition: all 0.3s ease 0s;
}

.route-list.active .route-item {
    transform: translateX(0);
}

.route-list.active .route-item:nth-child(1) {
    transition: all 0.6s ease 0s;
}

.route-list.active .route-item:nth-child(2) {
    transition: all 0.6s ease 0.1s;
}

.route-list.active .route-item:nth-child(3) {
    transition: all 0.6s ease 0.2s;
}

.route-list.active .route-item:nth-child(4) {
    transition: all 0.6s ease 0.3s;
}

.route-list.active .route-item:nth-child(5) {
    transition: all 0.6s ease 0.4s;
}

.route-list.active .route-item:nth-child(6) {
    transition: all 0.6s ease 0.5s;
}

.route-list.active .route-item:nth-child(7) {
    transition: all 0.6s ease 0.6s;
}

.route-list.active .route-item:nth-child(8) {
    transition: all 0.6s ease 0.7s;
}

.route-item i {
    font-style: normal;
    font-size: 1.4em;
}

.route-item svg {
    fill: var(--main-bgcolor);
    width: 50px;
    height: 50px;
}

/* SERV  */

.serv {
    background-image: url(../img/road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    color: var(--main-bgcolor);
}

.serv-wrap {
    max-width: 1200px;
    padding: 60px 10px;
    margin: 0 auto;
}

.serv-wrap h3 {
    text-transform: uppercase;
    color: var(--main-bgcolor);
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.serv-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}

.serv-item {
    width: 100%;
    padding: 20px;
    background-color:  rgba(16, 32, 48, 0.5);
    border-radius: var(--b-radius);
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    transform: translateY(120%);
    transition: all 0.3s ease 0s;
}

.serv-list.active .serv-item {
    transform: translateX(0);
}

.serv-list.active .serv-item:nth-child(1) {
    transition: all 0.6s ease 0s;
}

.serv-list.active .serv-item:nth-child(2) {
    transition: all 0.6s ease 0.1s;
}

.serv-list.active .serv-item:nth-child(3) {
    transition: all 0.6s ease 0.2s;
}

.serv-list.active .serv-item:nth-child(4) {
    transition: all 0.6s ease 0.3s;
}


.serv-head {
    color: var(--main-bgcolor);
}

.sev-descr {
    color: var(--main-bgcolor);
    line-height: 1.6em;
}

/* FORM  */

.form {
    width: 100%;
    background-color: var(--main-textcolor);
}

.form-wrap {
    max-width: 1200px;
    padding: 60px 10px;
    margin: 0 auto;
}

.foot-form {

}

.foot-inner {
    border-radius: var(--b-radius);
    padding: 40px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-head {
    line-height: 1.56em;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.6em;
    color: var(--main-bgcolor);
}

.inner-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.1em;
    color: var(--main-bgcolor);
}

.tgs {

}

.inner-content {
    display: flex;
    flex-direction: column-reverse;
}

.inner-input {
    display: inline-block;
    height: calc(2.5rem + 2px);
    padding: 1.5rem 1.75rem;
    border: 1px solid var(--border-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    background-clip: padding-box;
    border-radius: var(--b-radius);
    transition: var(--transit);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.inner-label {
    color: var(--main-bgcolor);
}

.inner-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    border: 1px solid transparent;
    border-radius: var(--b-radius);
    transition: var(--transit);
    background-color: var(--accent-color);
    cursor: pointer;
    color: var(--second);
    font-size: 1.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.inner-btn:hover, .inner-btn:focus {
    background-color: var(--main-bgcolor);
    color: var(--main-textcolor);
    border: 1px solid var(--accent-color);
}

/* FOOTER INTO FORM  */

.contacts {
    margin-top: 60px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.contacts-soc {
    transform: translateY(40%);
    transition: all 0.6s ease 0.2s;
    opacity: 0;
}

.icon {
    width: 50px;
    height: 50px;
    transition: var(--transit);
}

.icon:hover {
    fill: var(--main-bgcolor);
}

.icon.viber {
    fill: #6f5cea;
}

.icon.telegram {
    fill: #27a6e6;
}

.icon.whatsapp {
    fill: #2bb741;
}

/* //CONTANCTS  */

.contacts.active .contacts-soc:nth-child(1) {
    transition: all 0.6s ease 0.2s;
    transform: translateY(0);
    opacity: 1;
}

.contacts.active .contacts-soc:nth-child(2) {
    transition: all 0.6s ease 0.4s;
    transform: translateY(0);
    opacity: 1;
}

.contacts.active .contacts-soc:nth-child(3) {
    transition: all 0.6s ease 0.6s;
    transform: translateY(0);
    opacity: 1;
}

/* CONFIRM  */

.confirm {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 400;
}

.confirm_field {
	position: absolute;
	width: 300px;
	padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--main-bgcolor);
	border-radius: 10px;
	text-align: center;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
}

.confirm_msg {
	cursor: default;
	color: var(--main-textcolor);
	font-weight: 500;
	font-size: 18px;
	line-height: 1.5em;
}

.confirm_link {
	display: inline-block;
	margin-top: 20px;
	padding: 12px 22px;
	background-color: var(--accent-color);
	color: var(--main-bgcolor);
	text-transform: uppercase;
    text-decoration: none;
	font-weight: 500;
	letter-spacing: 0.06em;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: var(--transit);
}

.confirm_link:hover {
	background-color: var(--main-bgcolor);
	color: var(--main-textcolor);
	border-color: var(--accent-color);
} 


@media (min-width: 768px) {
    .menu-list {
        display: flex;
    } 
    .menu-btn {
        display: none;
    }

    .route-item i {
        font-size: 2em;
    }

    .aboutus-wrap {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .about-wrap-text {
        width: 50%;
    }
    .aboutus-img {
        width: 50%;
    }
    .serv-item {
        width: calc((100% - 20px) / 2);
    }
}